.icon-input-size {
height: 21px !important;
}

.verticalLine {
  border-left: thin solid #FFFFFF !important;
    width: 0;
    position: absolute;
    bottom: 0px;
    left: 453px;
    margin: -187px 0px 0px 0px !important;
    padding: 98px 0px 182px 0px !important;
}

.farmer {
margin: 502px -318px 92px 318px !important;
}

.login-text {
	margin: 24px 4px 32px 55px !important;
 	float: left;
}


.login-button-position {
	    margin: -55px 21px 506px 57px !important;
}

.register-text {
	margin: 24px 4px 32px 64px !important;
    float: left;
}

.register-button-position {
	    margin: -55px 21px 506px 57px !important;
}

.error-banner-display {
		 margin:-252px 0px 313px 57px !important;
}

.icons-style{
	margin-right: -159px;
	margin-left: 101px;
}


